.intro { background-color: #135; }

.about { background-color: #246; }

.tth { background-color: #468; }

.contact { background-color: #357; };

.html { color: #39add1; }

.css { color: #3079ab; }

.js { color: #C25975; }

.wp { color: #838CC7; }

.devtools { color: #637a91; }

.php { color: #7D669E; }