@import "_variables.scss";

body {
    background: #1E4998;
    color: $primary_color;
    font: {
      family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      weight: lighter;
      size: 18px;
    }
    text-decoration: none;
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: #66AFE0;
    &:hover {
      color: $primary_color;
      text-decoration: none;
    }
}

h1 {
  font-weight: 400;
}

blockquote {
  font-size: 1.5em;
  line-height: 1.4em;
  margin-top: 5%;
}

blockquote footer {
  color: $primary_color;
}

.contact li {
  list-style: none;
  line-height: 1.5em;
}

.fa {
  margin-right: 10px;
}

#tthProf {
  padding: 15px;
  &:hover {
    cursor: pointer;
  }
}

.toggle {
  display: none;
}

.total {
  margin-top: 3px;
}

#totalpts {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0;
}

.html {
  color: #39add1;
}

.css {
  color: #3079ab;
}

.js {
  color: #C25975;
}

.tthbadge {
  height: 125px;
  margin: 5px 0;
}

#badges h3 {
  margin-top: 0;
}
