@import "_variables.scss";
@import "_base.scss";
@import "_state.scss";

.contact li {
  list-style: none;
  line-height: 1.5em;
}

.fa {
  margin-right: 10px;
}

#tthProf {
  padding: 15px;
  &:hover {
    cursor: pointer;
  }
}

.points h4 {
  margin-top: 30px;
}

.total {
  margin-top: 3px;
}

#totalpts {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0;
}

.html { color: #39add1; }

.css { color: #3079ab; }

.js { color: #C25975; }

.wp { color: #838CC7; }

.devtools { color: #637a91; }

.php { color: #7D669E; }

.tthbadge img {
  height: 80px;
  margin: 5px 0;
}

.tthbadge p {
  display: inline-block;
  margin-left: 30px;
  width: 60%;
  vertical-align: middle;
}

#badges h3 {
  margin-top: 0;
}
