body {
    background: #1E4998;
    color: #CDE5F5;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: #66AFE0;
}

h1 {
  font-weight: 400;
}

blockquote {
  font-size: 1.5em;
  line-height: 1.4em;
  margin-top: 5%;
}

blockquote footer {
  color: #CDE5F5;
}

.contact li {
  list-style: none;
  line-height: 1.5em;
}

.fa {
  margin-right: 10px;
}

.total {
  margin-top: 3px;
}

#totalpts {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0;
}

.html {
  color: #39add1;
}

.css {
  color: #3079ab;
}

.js {
  color: #C25975;
}
