.navbar {
	margin-bottom: 0;
}

section {
	@extend .container-fluid;
  	padding-top: 30px;
  	padding-bottom: 30px;
  	border-bottom: 5px solid #eee;
}

section:last-of-type {
	border-bottom: none;
}

