.navbar {
	margin-bottom: 0;
}

.intro {
	background-image: url(../img/intro-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

section {
	@extend .container-fluid;
  	padding: 30px 0;
  	padding-bottom: 30px;
  	border-bottom: 5px solid #eee;
}

footer {
	padding: 30px 0;
}
